{% extends "admin/dashboard.html" %}
{% block title %}Add Question{% endblock %}
{% block ops %}
<h2>Add Question {{quiz.name}}</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.statement.label }}
        {{ form.statement() }}
    </div>
    <div>
        {{ form.answer_1.label }}
        {{ form.answer_1() }}
    </div>
    <div>
        {{ form.answer_2.label }}
        {{ form.answer_2() }}
    </div>
    <div>
        {{ form.answer_3.label }}
        {{ form.answer_3() }}
    </div>
    <div>
        {{ form.answer_4.label }}
        {{ form.answer_4() }}
    </div>
    <div>
        {{ form.correct_option.label }}
        {{ form.correct_option() }}
    </div>
    
    {{ form.submit() }}
</form>
{% endblock %} 