{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h1>Admin Dashboard</h1>
<div>
    <ul>
        <li><a href="{{ url_for('admin_manage_subject') }}">Manage subject</a></li>
        <li><a href="{{ url_for('admin_manage_quiz') }}">Manage quiz</a></li>
        <li><a href="{{ url_for('admin_manage_user') }}">Manage user</a></li>
        <li><a href="{{ url_for('admin_manage_score') }}">Manage score</a></li>
    </ul>
    <div>
        {% block ops %}
        {% endblock %}
    </div>
</div>
{% endblock %}
