{% extends "base.html" %}
{% block title %}Manage User{% endblock %}
{% block content %}
<h1>Manage User</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}