{% extends "admin/dashboard.html" %}
{% block title %}Manage Score{% endblock %}
{% block ops %}
<h2>Manage Score</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Score</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for score in score %}
            <tr>
                <td>{{ score.id }}</td>
                <td>{{ score.score }}</td>
                <td>{{ score.timestamp }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}