{% extends "admin/dashboard.html" %}
{% block title %}Manage User{% endblock %}
{% block ops %}
<h2>Manage User</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}